    <div id="modal" class="animate-norm">
      <div id="authenticate">
        <div id="registration-form" class="auth-form">
          <%- include('partials/register.ejs') %>
        </div>
        <div id="login-form" class="auth-form">
          <%- include('partials/login.ejs') %>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <p></p>
  </footer>
  <script src="/javascript/scripts.js" rel="javascript" type="text/javascript"></script>
</body>
</html>
